html{
        font-size: 10px;
}
a{
    font-size: 2rem;
}
    .wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: lightgrey;
        .FormBox{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 25rem;
            padding: 1rem 1rem;
            box-sizing: border-box;
            &__Input{
                display: flex;
                flex-direction: column;
                width: 85%;
                .FormBox__InputX{
                    height: 50%;
                    width: 100%;
                    label{
                        margin: 1rem 0;
                        font-size: 3.5rem;
                    }
                    input{
                        width: 100%;
                        height: 50%;

                        font-size: 2rem;
                        
                    }
                }
            }
            &__Add{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
                height: 100%;
                padding: 1rem 1rem 0rem;
                button{
                    width: 80%;
                    height: 80%;
                }
            }
        }
        .ListItem{
            display: grid;
            grid-template-columns: 20rem auto 5rem;
            grid-template-rows: auto auto;
            font-size: 4rem;
            &__Delete{
                align-self:center;
                justify-self: center;
            }
        }
        .ListItem--red{
            border: red solid 1rem;
        }
        .ListItem--green{
            border: green solid 1rem;
        }
        .List__Total{
            font-size: 4rem;
        }
    }

@media screen and (min-width:960px){
    .wrapper{
        .firstbox__field{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .firstbox__field--x{
                display: flex;
                flex-direction: column;
                width: 48%;
                height: 70%;
            }
        }
        .firstbox__button{
            height: auto;
            align-items: center;
            margin: 0 1rem;
            button{
                height: 11.5rem;
                width: 100%;
            }
        }
    }
    
}

.FormBox--positive{
    background: green;
}
.FormBox--negative{
    background: red;
}