<div class="SearchForm">
    <div class="SearchForm__Titolo">
        <label for="titolo"> Titolo </label>
        <input type="text" id="titolo" ng-model="$ctrl.titolo">
    </div>
    <div class="SearchForm__Search">
       <button ng-click="$ctrl.cerca()"> Cerca </button> 
    </div>
    <div class="SearchForm__Risultato" ng-repeat=" searchs in $ctrl.Search">
        <p>Artista: {{searchs.artistName}}
        Album: {{searchs.collectionCensoredName}}</p>
    </div>
    <div class="SearchForm__Voto">
        <label for="voto" ng-repeat="voti in [0,1,2,3,4,5]">
        <span> {{voti}}  </span>
        <input type="radio" id="voto" name="voto" ng-value="voti" ng-model="$ctrl.voto">
        </label>
    </div>
    <div class="SearchForm__Salva">
        <button> Salva </button>
    </div>
</div>