<div class="ListItem" 
ng-class="{ 'ListItem--green':$ctrl.itemId.isPositive, 
'ListItem--red':!$ctrl.itemId.isPositive} ">
    <div class="ListItem__Date" >
        {{$ctrl.itemId.data}}
    </div>
    <div class="ListItem__Wrapper">
        <div class="ListItem__WrapperAmount">
                {{$ctrl.itemId.amount}}€
        </div>
        <div class="ListItem__WrapperDescription">
                {{$ctrl.itemId.description}}
        </div>
    </div>
    
    <div class="ListItem__Delete" ng-click="$ctrl.deleteItem3()">
        x
    </div>

</div>