<div class="ShopList">
    <div class="ShopList__label">
        <div>
            
        </div>
        <div class="ShopList__labelName">
            Nome:
        </div>
        <div class="ShopList__labelQuantity">
            Quantità:
        </div>
        <div class="ShopList__labelPrice">
            Prezzo:
        </div>
        <div class="ShopList__labelTotal">
            Totale:
        </div>
    </div>
    <div [ngClass]="{blue: i%2==0}" *ngFor="let item of list; let i=index" class="ShopList__wrapper">
        <div class="ShopList__wrapperdelete">
            <button (click)="deleteitem(item.name)" > X </button>
        </div>
        <div class="ShopList__wrapperName">
            {{item.name}}
        </div>
        <div class=" ShopList__wrapperQuantity">
            {{item.quantity}} Pz.
        </div>
        <div class="ShopList__wrapperPrice">
            {{item.price}}  €
        </div>
        <div class="ShopList__wrapperTotal" >
            {{item.total}} €
        </div>
    </div>
    <div class="ShopList__totale">
        <div class="ShopList__totaleLordo">
            Totale Lordo:
            {{ totale }}
        </div>
        <div class="ShopList__totaleDascontare">
            Sconto Ticket:
            {{dascontare}}
        </div>
        <div class="ShopList__totalenetto">
            Da Pagare:
            {{getTotaleNetto()}}
        </div>
    </div>
    
</div>