<div class="Home__Title">
  Search Film
</div>
<div class="Home__Container">
  <span class="Label">
    Insert Film Title
  </span>
  <input class="Input" [(ngModel)]="filmName" >
  <button class="Button" (click)="searchFilm()"> CERCA </button>
</div>
<div class="Home__filmListContainer" *ngIf="!!filmList">
  <div class="Home__film" *ngFor="let film of filmList | filmYear:2018" >
    <span class="Home__filmName"> {{film.Title}}  </span>
    <span class="Home_filmyear"> {{film.Year}} </span>
    <div class="Home_filmPoster">
      <img [src]=film.Poster>
    </div>
    <app-film-actions [film]="film"></app-film-actions>
    
  </div>
</div>