
<div class="FormBox">
    <div class="FormBox__Titolo">
        <label for="titolo"> TITOLO </label>
        <input type="text" id="titolo" ng-model="$ctrl.titolo">
    </div>
    <div class="FormBox__Search">
        <button ng-click='$ctrl.Search()'> SEARCH </button>
    </div>
    <div class="FormBox__List">
            <ul>
                <li class="FormBox__ListItem" 
                ng-click= "$ctrl.selected = result"
                ng-class="{'FormBox__ListItem--active':result.imdbID == $ctrl.selected.imdbID}"
                ng-repeat="result in $ctrl.searchResults"> {{result.Title}} - {{result.Year}}</li>
            </ul>
    </div>
    
    <div class="FormBox__Checkbox">
        <label for="visto"> VISTO </label>
        <input type="checkbox" id="visto" ng-model="$ctrl.visto">
    </div>
    <div class="FormBox__Voto" ng-if="$ctrl.visto">
        <label  ng-repeat="punti in [1,2,3,4,5,6,7,8,9,10]">
        <span> {{punti}} </span>
        <input type="radio" name="voto" ng-value="punti" ng-model="$ctrl.voto"> 
        </label>   
        <p> Voto:{{$ctrl.voto}} </p> 
    </div>

    <div class="FormBox__Button" ng-click="$ctrl.AddFilm()">
        <button > SALVA </button>
    </div>
</div>
