<div class="AmountForm">

  <div class="AmountForm__Element AmountForm__Element--amount">
    <label class="AmountForm__ElementLabel">Amount</label>
    <input ng-model="amountValue" class="AmountForm__ElementInput AmountForm__ElementInput--currency" type="number">
  </div>

  <div class="AmountForm__Element AmountForm__Element--description">
    <label class="AmountForm__ElementLabel">Description</label>
    <input ng-model="descriptionValue" class="AmountForm__ElementInput" type="text">
  </div>

  <div class="AmountForm__Button" ng-click="$ctrl.addItemToList()">
    <span>+</span>
  </div>

  <div ng-transclude></div>

</div>
